html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, pink, purple);
}

.calculator {
  background-color: whitesmoke;
  width: 400px;
  border-radius: 10px;
}

/* Display */
.calculator-display {
  background-color: black;
  color: white;
  margin: 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.calculator-display h1 {
  margin: 0;
  padding: 20px;
  font-family: "Lucida Sans", sans-serif;
  font-size: 45px;
  font-weight: 100;
  overflow-x: auto;
}

/* calculator-buttons */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

/* Buttons */
button {
  min-height: 50px;
  background-color: rgb(215, 211, 211);
  font-size: 20px;
  font-weight: 100;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  filter: brightness(110%);
}
button:active {
  transform: translateY(2px);
}
button:focus {
  outline: none;
}

/* operator buttons */
.operator {
  background-color: gray;
  color: white;
  font-size: 30px;
}

/* clear button */
.clear {
  background-color: red;
  color: white;
  font-size: 30px;
}
.clear:hover {
  background-color: darkred;
}

/* equal sign */
.equal-sign {
  background-color: rgb(126, 181, 44);
  grid-column: -2;
  grid-row: 2 / span 4;
}

/* for screen smaller than 600px */
@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}
